{% extends 'website/base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<h1>Add Record</h1>
<br/>
<form method="POST" action="">
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Please correct the error{{ form.errors|pluralize }} below.
            {% for field in form %}
                {% for error in field.errors %}
                    {{ field.error }}
                {% endfor %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="mb-3">
        <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" name="email" placeholder="Email" required>
    </div>
    <div class="mb-3">
        <input type="tel" class="form-control" name="phone_number" placeholder="Phone Number" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="address" placeholder="Address" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="city" placeholder="City" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="state" placeholder="State" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="zip_code" placeholder="Zip Code" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-secondary">Add Record</button>
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
</form>
</div>
{% endblock %}
